@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Category</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label class="p=0">Category Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            @*  asp-for will abstract the name and also type form the model and is used automatically  *@
            @*  also as the model is referred in top and obj is passed from controller, data is filled in the input filled. *@
            <label asp-for="DisplayOrder" class=" p=0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control"> Update </button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@* This section is for client side validation we just refer to the file _validationScriptsPartial of View/Shared *@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}